h2 {
  margin-bottom: 10px;
}


.img-sm {
  margin: 5px;
  max-height: 6rem;
  width: 100px;
  border-radius: 10px;
}
.itemside{
  display: flex;
}
.card-A {
  margin-left: 10px;
}

.fill-remaining-space {

  flex: 1 1 auto;
}

.container {
  padding: 10px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-element {
  padding: 5px 0px;
  width: 100%;
}

.button {
  width: 100%;
}

.row {
  display: flex;
}



.cart-details {

  margin-left: 5rem;
  display: flex;
}


.form-control {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.text-center {
  text-align: center;
}
