<div class="container mt-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-7">

            <div class="card p-3 py-4">

                <div class="text-center">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTA4Bf0QidQNhBFJ2-TySUzqcqSEWjdNF6GwOyypPx5GQ&s"
                        width="150" class="rounded-circle">
                </div>

                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">Eng</span>
                    <h4 class="mt-2 mb-0">Mina Emad Radi</h4>
                    <span>Dotnet Developer</span>

                    <div class="px-4 mt-1">
                        <p class="fonts">Graduated from the Faculty of Computers and Artificial Intelligence,
                            fascinated
                            to use earned skills to build a fully functional web application for good business use.
                        </p>

                    </div>

                    <ul class="social-list">
                        <li><i class="fa fa-facebook"></i></li>
                        <li><i class="fa fa-dribbble"></i></li>
                        <li><i class="fa fa-instagram"></i></li>
                        <li><a href="https://www.linkedin.com/in/mina-emad-radi/"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li><i class="fa fa-google"></i></li>
                    </ul>

                    <div class="buttons">

                        <a class="btn btn-primary" href="mailto:minaemad393@gmail.com">message</a>

                    </div>


                </div>




            </div>

        </div>


    </div>

</div>