<!--(setAmount)="setAmount($event)"-->
<section class="  bg-ligt">

  <!-- style="
background-image: url('https://images.pexels.com/photos/3728311/pexels-photo-3728311.jpeg?cs=srgb&dl=pexels-felipe-paes-3728311.jpg&fm=jpg');
background-repeat: no-repeat;
background-position: left bottom;
background-size:100% ;
" -->

  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-3 justify-content-center">
      <app-product-item *ngFor="let product of products" [product]="product" (addToCartP)="addToCartP($event)"
        [amountSelected]="amountSelected"> </app-product-item>
    </div>
  </div>
</section>